<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<context-param>
		<param-name>appPropertyFile</param-name>
		<param-value>tito.properties</param-value>
	</context-param>
	<context-param>
		<param-name>org.iplantc.initial-page</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>268435456</param-value>
	</context-param>

	<!-- Filters -->
	<filter>
		<filter-name>authenticationFilter</filter-name>
		<filter-class>org.iplantc.de.server.AuthFilter</filter-class>
	</filter>

	<!-- Filter Mapping Definitions -->
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/jsintegrate/deservice</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/jsintegrate/auth-de-service</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>authenticationFilter</filter-name>
		<url-pattern>/jsintegrate/sessionmanagement</url-pattern>
	</filter-mapping>

	<!-- Servlets -->
	<servlet>
		<servlet-name>toolSubmitServlet</servlet-name>
		<servlet-class>org.iplantc.js.integrate.server.NewToolRequestServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>org.iplantc.de.server.UploadServlet</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>propertyServlet</servlet-name>
		<servlet-class>org.iplantc.de.server.PropertyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>aboutAppServlet</servlet-name>
		<servlet-class>org.iplantc.js.integrate.server.AboutApplicationServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>authenticationValidatingServiceDispatcher</servlet-name>
		<servlet-class>org.iplantc.de.server.AuthenticationValidatingServiceDispatcher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>unsecuredDeServiceDispatcher</servlet-name>
		<servlet-class>org.iplantc.de.server.UnsecuredDEServiceDispatcher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>sessionInitializationServlet</servlet-name>
		<servlet-class>org.iplantc.de.server.SessionInitializationServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>sessionManagementServlet</servlet-name>
		<servlet-class>org.iplantc.de.server.SessionManagementServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>toolSubmitServlet</servlet-name>
		<url-pattern>/jsintegrate/new_tool_request</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>authenticationValidatingServiceDispatcher</servlet-name>
		<url-pattern>/jsintegrate/auth-de-service</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>unsecuredDeServiceDispatcher</servlet-name>
		<url-pattern>/jsintegrate/unsecureddeservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sessionInitializationServlet</servlet-name>
		<url-pattern>/jsintegrate/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>propertyServlet</servlet-name>
		<url-pattern>/jsintegrate/properties</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>sessionManagementServlet</servlet-name>
		<url-pattern>/jsintegrate/sessionmanagement</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>aboutAppServlet</servlet-name>
		<url-pattern>/jsintegrate/about</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>JSIntegrate.html</welcome-file>
	</welcome-file-list>

</web-app>
